# erlinit.config example
# https://github.com/nerves-project/erlinit#configuration-and-command-line-options

# Enable UTF-8 filename handling
-e LANG=en_US.UTF-8;LANGUAGE=en

# Uncomment to enable verbose prints
-v

# Force the controlling terminal
-c ttyS0

# eclero release path
-r /usr/lib/eclero

# Hang the system if Erlang exits
-h

# Print a message on ttys receiving kernel logs
--warn-unused-tty

# Use an ERTS provided by the release
--release-include-erts
